@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-mb_class {
    display: none;
}

.eb-garamond {
    font-family: 'EB Garamond', serif;
}

#innerCardImage {
    max-width: 266px;
    max-height: 266px;
}

.inner-card__text {
    margin-left: 18px;
    margin-bottom: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 21.744px;
    line-height: 150%;
    color: rgba(19, 19, 19, 0.7);
}

.guideline-cards {
    width: 302px;
    border: solid 1px #131313;
    height: 356px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.outerCardImageContainer {
    width: 300px;
    height: 356px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-tab {
    color: #fff;
    border-bottom: 2px solid #fff;
  }