@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-mb_class {
    display: none;
}

.eb-garamond {
    font-family: 'EB Garamond', serif;
}

#innerCardImage {
    max-width: 266px;
    max-height: 266px;
}

.guideline-cards {
    width: 300px;
    border: solid 1px #131313;
    height: 356px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}